{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}