.event-title-underline-1 {
  height: 1px;
  margin-top: 0.5rem;
  background-color: rgba(2, 255, 255, 1);
}

.event-title-underline-2 {
  background-color: rgba(2, 255, 255, 1);
  height: 1px;
  margin-top: -0.4rem;
  margin-left: -6rem;
}

.event-title-underline-3 {
  background-color: rgba(2, 255, 255, 1);
  height: 1px;
  margin-top: -1.6rem;
  margin-left: -0.5rem;
}

.event-border {
  border: 0.5rem solid;
}

.event-border > div:not(:last-child) {
  border-bottom: 0.1rem dashed;
}

.event-detail-panel {
  padding: 0.8rem 0.8rem 0rem 0.8rem;
}

.event-caret {
  left: -2.5rem;
  position: relative;
}

.event-location {
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
}