.layout-left {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  padding: 3em 0 3em 3em;
}

.layout-right {
  padding: 3em 3em 3em 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-auto-fill {
  flex: auto;
}