.tweet-list {
  border: 0.5rem solid;
}

.tweet-list > div:not(:last-child) {
  border-bottom: 0.1rem dashed;
}

.caret {
  left: -2.5rem;
  position: relative;
}

.tweet-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}